<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% comment %} {% if user.is_not_authenticated %} {% endcomment %}
    <button type="submit"> <a href="/signup">Signup</a> </button>
    <button type="submit"> <a href="/signin">Login</a> </button>
    <button type="submit"> <a href="/signout">Signout</a> </button>
    <button type="submit"><a href="{% url 'accountants'%}">Accountants</a></button>
    <button type="submit"><a href="{% url 'history'%}">History</a></button>
    {% comment %} {% endif %} {% endcomment %}
</body>
</html>